.footballer-item {
    margin: 1rem 0;
  }
  
  .footballer-item__content {
    padding: 0;
  }
  
  .footballer-item__info {
    padding: 1rem;
    text-align: center;
  }
  
  .footballer-item__image {
    width: 100%;
    height: 12.5rem;
    margin-right: 1.5rem;
    padding: 1rem;
    padding-left: 35%;
    margin-bottom: 25%;
  }
  
  .footballer-item__image img {
    width: 50%;
    height: 200%;
    object-fit: cover;
  }
  
  .footballer-item__info h2,
  .footballer-item__info h3 {
    margin: 0 0 0.5rem 0;
  }
  
  .footballer-item__actions {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ccc;
  }
  
  .footballer-item__modal-content {
    padding: 0;
  }
  
  .footballer-item__modal-actions {
    text-align: right;
  }
  
  .footballer-item__actions button,
  .footballer-item__actions a {
    margin: 0.5rem;
  }
  
  @media (min-width: 768px) {
    .place-item__image {
      height: 20rem;
    } 
  }